@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Merriweather Bold"), local("Merriweather-Bold"),
        url(@/assets/fonts/merriweather_bold.woff2) format("woff2");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Source Sans Pro"), local("SourceSansPro-Regular"),
        url(@/assets/fonts/source_sans.woff2) format("woff2");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    src: local("Source Sans Pro Semibold"), local("SourceSansPro-Semibold"),
        url(@/assets/fonts/source_sans_semibold.woff2) format("woff2");
}
@font-face {
    font-family: "Source Sans Pro";
    font-style: italic;
    font-weight: 400;
    src: local("Source Sans Pro Italic"), local("SourceSansPro-It"),
        url(@/assets/fonts/source_sans_italic.woff2) format("woff2");
}

html {
    font-family: "Source Sans Pro";
}
